<ion-header>
  <ion-toolbar>
    <ion-title>
      Planejamento Financeiro
    </ion-title>
    <ion-buttons slot='primary'>
        <ion-button [routerLink]='["/novo-planejamento"]'>
          <ion-icon name='add'></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Faça seu planejamento financeiro.</h3>
  <div *ngIf="planejamentos.length > 0">
      <h2>Veja seus planejamentos:</h2>
      <br />
      <div *ngFor="let planos of planejamentos">
        <ion-card >
          <ion-card-content>
            <h2>
              {{planos.nome}}
            </h2>
            <p>
              {{planos.faturamento}}
            </p>
            <p>
              {{planos.custo}}
            </p>
            <p style="text-align: right">
                <ion-button color="danger" fill="outline" size="small" (click)="excluir(planos.nome)"><ion-icon name = 'trash'></ion-icon>Excluir</ion-button>
            </p>
          </ion-card-content>
        </ion-card>
      </div>  
    </div>
    <div *ngIf="planejamentos.length === 0">
        <p>Ainda não há planejamentos.</p>
        <ion-button [routerLink]='["/novo-planejamento"]'>Fazer planejamento</ion-button>
    </div>
</ion-content>
